:root {
  --color-background: #ffebee;
  --color-primary: #F55C52;
  --color-secondary: #FFC9C9;
  --color-accent: #FCB173;
  --color-error: #ff1744;
  --color-white: #FFFFFF;

  --color-white-opacity-10: rgba(255, 255, 255, 0.1);
  --color-white-opacity-20: rgba(255, 255, 255, 0.2);
  --color-white-opacity-30: rgba(255, 255, 255, 0.3);
  --color-white-opacity-50: rgba(255, 255, 255, 0.5);
  --color-white-opacity-70: rgba(255, 255, 255, 0.7);
  --color-white-opacity-80: rgba(255, 255, 255, 0.8);
  --color-white-opacity-90: rgba(255, 255, 255, 0.9);

  --color-text: rgb(0, 10, 18);
  --color-text-opacity-50: rgba(0, 10, 18, 0.5);
}

body {
  color: var(--color-text);
  overflow-x: hidden;
}

/* https: //stackoverflow.com/questions/20937475/remove-datalist-dropdown-arrow-in-chrome */
input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

*:focus {
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    /* IE, Edge 対応 */
    scrollbar-width: none;
    /* Firefox 対応 */
  }

  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}